######## Global ##########
.vscode
*.cxx
*.so
*pcm
*module.modulemap
*.rootmap
####### VisWithPy ########
VisWithPy/.venv
VisWithPy/NatGas/__pycache__
VisWithPy/NatGas/Constants.py
__pycache__
VisWithPy/NatGas/dataSets/

######## Orbits ###########
Apps/Orbits/bin
Apps/Orbits/CMakeFiles
Apps/Orbits/Makefile
Apps/Orbits/build/

######## CUDA #############
MachineLearning/CUDA/tutorial/build/
MachineLearning/CUDA/NeuralNetwork/build/
MachineLearning/CUDA/NeuralNetwork_MNIST/build/
MachineLearning/CUDA/NeuralNetwork_MNIST/dataset/